{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 37.63785866523833,
    "longitude": 126.67968935798854,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Office_RaspberryPi",
    "time_zone": "Asia/Seoul",
    "external_url": null,
    "internal_url": null,
    "currency": "KRW"
  }
}